.MyCommentWrapper {
    width: 100%;
}

.Comment {
    margin: 30px;
    font-size: xx-large;
}

.MyComment {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.MyProfile {
    width: 40px;
    height: 40px;
    border-radius: 90%;
    border: 1px solid lightgray;
}

.Input {
    width: 90%;
    vertical-align: top;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000000;
    padding: 5px;
    font-size: medium;
    resize: none;
}

.CommentButton {
    width: 60px;
    height: 35px;
    vertical-align: top;
    color: #ffffff;
    background-color: mediumpurple;
    font-size: medium;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}