#player{
  float: left;
  z-index: 9999;
}
.shape{
  opacity: 0.4;
}
.cam {
  position: absolute;
  top: 78px;
  left: 50%;
  z-index: 100;
  width:50%;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
   transform: scaleX(-1);
  filter: flipH();
  -ms-filter: "FlipH";
}
