.ProfileWrapper {
    display: flex;
    flex-direction: column;
    align-items : center;
}

.ProfileInfo {
    width: 100%;
    height: 507px;
    margin-top: 100px;
    margin-bottom: 100px;
    float: left;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.UserProfile {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 1px solid lightgray;
    /* margin-right: 100px; */
}

.ProfileImgInput {
    width: 150px;
}

.ProfileImgEditButton {
    margin-top: 10px;
    background: none;
    border: none;
}

.NickNameInfo {
    margin-left: 400px;
    vertical-align: top;
    display: table-cell;
}

.NickName {
    font-size: 100px;
    vertical-align: top;
    text-align: center;
    /* margin-left: 100%; */
    margin-bottom: 150px;
}

.NickNameEditButton {
    width: 320px;
    height: 100px;
    color: white;
    background-color: mediumpurple;
    font-size: xx-large;
    border: none;
    border-radius: 1.5rem;
}

.MyArea {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.MyTrainingArea {
    display: table-cell;
}

.MyUploadTrainingListTitle {
    font-size: xx-large;
}

.UploadButton {
    float: right;
    width: 42px;
    height: 42px;                            
    background-color: mediumpurple;
    padding-top: 0px;
    border: none;
    border-radius: 0.7rem;
    color: white;
    font-size: xx-large;
    vertical-align: center;
}

.MyUploadTriningListBackground {
    background-color: lightgray;
    width: 340px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}