.ProfileWrapper {
    display: flex;
    flex-direction: column;
    align-items : center;
}

.ProfileInfo {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.UserProfile {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 1px solid lightgray;
}

.ProfileImgInput {
    width: 150px;
}

.ProfileImgEditButton {
    margin-top: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.NickNameInfo {
    vertical-align: top;
    display: table-cell;
}

.NickName {
    max-width: 700px;
    font-size: 100px;
    vertical-align: top;
    text-align: center;
    margin-bottom: 150px;

    overflow: hidden;
    text-overflow: ellipsis;
}

.NickNameInput {
    font-size: xx-large;
}

.NickNameEditButton {
    width: 320px;
    height: 100px;
    color: white;
    background-color: mediumpurple;
    font-size: xx-large;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
}

.MyArea {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.MyListArea {
    width: 72%;
}

.ListTitles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.MyTrainingArea {
    display: table-cell;
    padding: 10px;
    width: 50%;
    text-align: center;
}

.MyLikeTrainingArea {
    padding: 10px;
    width: 50%;
    text-align: center;
}

.MyUploadTrainingListTitle {
    font-size: xx-large;
    border: none;
    background: none;
}

.UploadButton {
    float: right;
    width: 42px;
    height: 42px;                            
    background-color: mediumpurple;
    margin-left: 10px;
    padding-top: 0px;
    border: none;
    border-radius: 0.7rem;
    color: white;
    font-size: xx-large;
    vertical-align: center;
}

.MyTrainingList {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.MyTriningListBackground {
    background-color: lightgray;
    min-width: 100%;
    min-height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.MySubscribeTitle {
    padding: 10px;
}

.MySubscribeListBackground {
    background-color: lightgray;
    width: 340px;
    min-height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}