.SignUpWrapper {
    text-align: center;
}

.NickIdInput {
    width: 400px;
    resize: none;
    font-size: xx-large;
    padding: 10px;
    border: 2px solid black;
    border-radius: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.DuplicateButton {
    width: 80px;
    height: 60px;
    vertical-align: middle;
    margin: none;
    border: none;
    border-radius: 0.8rem;
    margin-bottom: 15px;
    margin-left: 20px;
    font-size: large;
    color: white;
}

.PwEmailInput {
    width: 500px;
    resize: none;
    font-size: xx-large;
    padding: 10px;
    border: 2px solid black;
    border-radius: 1rem;
    margin: 20px;
}

.SignInAndLogInButton {
    width: 200px;
    height: 50px;
    margin: 10px;
    margin-top: 50px;
    border: none;
    border-radius: 1rem;
    font-size: x-large;
    color: white;
}