.Subscribe {
    margin-left: 2%;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    color: black;
}

.SubscribeImg {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid gray;
}

.SubscribeName {
    vertical-align: top;
    color: black;
    font-size: xx-large;

    margin-left: 1.5%;
}