.Video {
    margin: 20px;
    margin-bottom: 20px;
}

.TrainingCardWrapper {
    text-decoration: none;
}

.ThumbNail{
    border-radius: 1rem;
    border: 1px solid lightgray;
}

.VideoName {
    max-width: 300px;
    color: black;
    font-size: xx-large;
    text-decoration: none;
    word-break: break-all;
    overflow: hidden;           /* 크기를 넘어가면 */
    text-overflow: ellipsis;    /*...으로 표시 */
    display: -webkit-box;       /* 넘어갈 */
  -webkit-line-clamp: 2;        /* 수 있는 */
  -webkit-box-orient: vertical; /* 줄 수 */
}

.VideoName:visited {
    color: black;
    text-decoration: none;
}


.Channel {
    max-width: 300px;
    color: black;
    line-height: 150%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Play {
    color: black;
}

.time {
    color: black;
}