.VideoInfos {
    margin-top: 15px;
    margin-right: 40px;
    margin-left: 30px;
}

.TrainingVideoName {
    max-width: 80%;
    font-size: xx-large;
    overflow: hidden; 
    text-overflow: ellipsis;
}

/* .InputButton {
    margin-top: 4px;

    width: 40px;
    height: 40px;
    color: #ffffff;
    font-size: x-large;
    border: none;
    border-radius: 0.5rem;
    margin-right: 40px;
} */

.Like {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.NameLike {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

 .LikeButton {
    top: 15px;
    width: 22px;
    height: 22px;
    background: #ea2027;
    position: relative;
    transform: rotate(-135deg);
    border: none;
    margin-right: 10px;
  }
  .LikeButton::before {
    content: "";
    width: 22px;
    height: 22px;
    position: absolute;
    left: -0%;
    background: #ea2027;
    border-radius: 50%;
  }
  .LikeButton::after {
    content: "";
    width: 22px;
    height: 22px;
    position: absolute;
    top: -0%;
    background: #ea2027;
    border-radius: 50%;
  }

  .Count {
      margin-top: 10px;
  }

  .Date {
      margin-left: 20px;
  }

.ChannelInfo {
    margin-top: 60px;
}

.Profile {
    width: 45px;
    height: 45px;
    border: 1px solid lightgray;
    border-radius: 50%;
}

.ChannelName {
    margin-left: 20px;
    vertical-align: top;
    font-size: large;
    font-weight: 500;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.SubscribeButton {
    width: 60px;
    height: 40px;
    float: right;
    color: #ffffff;
    font-size: large;
    border: none;
    border-radius: 0.5rem;
}

.VideoExplain {
    margin-left: 65px;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 92%;
    max-height: 100px;
    overflow: hidden; 
    text-overflow: ellipsis;
}