.VideoInfos {
    width: 96%;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
}

.TrainingVideoName {
    max-width: 80%;
    font-size: xx-large;
    overflow: hidden; 
    text-overflow: ellipsis;
    display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.Like {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.NameLike {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nLikeButton {
    top: 15px;
    width: 22px;
    height: 22px;
    background: gray;
    position: relative;
    transform: rotate(-135deg);
    border: none;
    margin-right: 10px;
    cursor: pointer;
  }
  .nLikeButton::before {
    content: "";
    width: 22px;
    height: 22px;
    position: absolute;
    left: -0%;
    background: gray;
    border-radius: 50%;
  }
  .nLikeButton::after {
    content: "";
    width: 22px;
    height: 22px;
    position: absolute;
    top: -0%;
    background: gray;
    border-radius: 50%;
  }

 .LikeButton {
    top: 15px;
    width: 22px;
    height: 22px;
    background: #ea2027;
    position: relative;
    transform: rotate(-135deg);
    border: none;
    margin-right: 10px;
    cursor: pointer;
  }
  .LikeButton::before {
    content: "";
    width: 22px;
    height: 22px;
    position: absolute;
    left: -0%;
    background: #ea2027;
    border-radius: 50%;
  }
  .LikeButton::after {
    content: "";
    width: 22px;
    height: 22px;
    position: absolute;
    top: -0%;
    background: #ea2027;
    border-radius: 50%;
  }

  .Count {
      margin-top: 10px;
  }

  .Date {
      margin-left: 20px;
  }

.ChannelInfo {
    margin-top: 60px;
}

.Page {
    text-decoration: none;
    color: black;
}

.Profile {
    width: 45px;
    height: 45px;
    border: 1px solid lightgray;
    border-radius: 50%;
}

.ChannelName {
    margin-left: 20px;
    vertical-align: top;
    font-size: large;
    font-weight: 500;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.nSubscribeButton {
    width: 60px;
    height: 40px;
    float: right;
    color: #ffffff;
    background-color: mediumpurple;
    font-size: medium;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.SubscribeButton {
    width: 60px;
    height: 40px;
    float: right;
    color: #ffffff;
    background-color: gray;
    font-size: medium;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.VideoExplain {
    margin-left: 65px;
    margin-top: 20px;
    margin-bottom: 30px;
    max-width: 92%;
    max-height: 100px;
}